.catalog-container {
    padding: 20px;
  }
  
  .catalog-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    padding: 8px 12px; /* Espaciado interno */
    background-color: #6BBE45; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin: 0 auto;
  }
  
  .product-card {
    background-color: #fff;
    color: #4B7B70;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-name {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .add-to-cart {
    background-color: #4B7B70;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  