.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de todo */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 600px; /* Ancho máximo del modal */
    position: relative;
    z-index: 1001; /* Asegúrate de que esté por encima del overlay */
}

.modal-close {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    font-size: 1.5rem; /* Tamaño del texto */
    position: absolute; /* Posición absoluta */
    top: 10px; /* Ajustar distancia desde la parte superior */
    right: 10px; /* Ajustar distancia desde la derecha */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    color: #3B3B3B; /* Color del icono */
    transition: color 0.3s; /* Transición suave para el color */
}

.modal-close:hover {
    color: #6BBE45; /* Cambia el color al pasar el mouse */
}