.carousel-container {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho maximo */
    margin: 0 auto; /* Centra el carrusel */
    position: relative; 
    z-index: 1;
  }  
  
  .carousel-image {
    width: 100%;
    border-radius: 8px; /* Agrega bordes redondeados */
  }  