.footer {
  background-color: #A3B1A8; /* Color de fondo para el footer */
  color: #3B3B3B; /* Color del texto */
  text-align: center;
  padding: 15px 0; /* Espaciado */
  position: relative; /* Permite que el footer se quede abajo */
  bottom: 0; /* Mantiene el footer en la parte inferior */
  width: 100%; /* Asegura que ocupe el ancho completo */
}
